header{
    background-image: url("./coffee_image.png");
    height: 100vh;
    background-size: cover;

}
@import "./_variable";
@import "./_mixins";

*{
    margin: 0;
    padding: 0;
}

a{
    color: white;
}
.ul1{
    display: flex;
    gap: 60px;
}
.ul2{
    display: flex;
    gap: 60px;
    align-items: center;
}

nav{
    display: flex;
    max-width: 1800px;
    border: 2px solid red;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    
   
}
.li2{
    background-color: $btncolor;
    border-radius: 24px;
    width: 100px;
    height: 48px;
    display: inline-block;
    display: grid;
    place-items: center;
}
.cont1{
    max-width: 1800px;
    
    margin: 0 auto;
    padding-top: 160px;


    
}

.h22{
    width: 549px;
    height: 410px;
    color: #FFF;

font-family: Clicker Script;
font-size: 325px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.h21{
    width: 600px;
    height: 22px;
    color: #FFF;

font-family: Playfair Display;
font-size: 29px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.p1{
    width: 780px;
    height: 152px;
    color: #FFF;

font-family: Playfair Display;
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: 40px;
}
button{
    width: 134px;
    height: 48px;
    border-radius: 24px;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    color: #1E1E1E;
    font-family: Playfair Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cont2{
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
}
.contd{
    width: 100%;
    margin-top: 150px;
    
}
h3{
 
    height: 72px;
    color: $mycolor;
font-family: Playfair Display;
font-size: 54px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.p2{
    width: 585px;
    height: 170px;
    color: #707070;
    margin-top: 40px;

font-family: Playfair Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 34px;
}
.b2{
    border: none;
    border-radius: 24px;
    background: #F9C06A;
    box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
    margin-top: 40px;
}